/Level0/nbproject/private/
/Level0/build/
/Level1/nbproject/private/
/Level1/build/
/TestApplication1/nbproject/private/
/TestApplication1/build/
/testmvc/nbproject/private/
/testmvc/build/
/MVClevel1/nbproject/private/
/MVClevel1/build/